<section>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<img style="float:left;" src="{{ works.glyph }}" alt="{{works.title }}"><p class="exp-role u-padNone u-spaceNone">Senior Product Designer, Design System</p>
			<p class="exp-company"><a href="https://www.prizepicks.com/" target="_blank">PrizePicks</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2023 – Present</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<img style="float:left;" src="{{ works.glyph }}" alt="{{works.title }}"><p class="exp-role u-padNone u-spaceNone">Senior Product Designer, Design System</p>
			<p class="exp-company"><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2022 – 2023</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">Senior Product Designer</p>
			<p class="exp-company"><a href="https://www.lumahealth.io/" target="_blank">Luma Health</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2021 – 2022</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">Senior Product Designer</p>
			<p class="exp-company"><a href="https://www.moovelus.com/" target="_blank">moovel</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2019 – 2020</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">Senior Product Designer</p>
			<p class="exp-company"><a href="https://www.apptio.com/" target="_blank">Apptio</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2018 – 2019</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">Product Designer</p>
			<p class="exp-company"><a href="https://www.teamsnap.com/" target="_blank">TeamSnap</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2014 – 2017</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">UX / Visual Designer</p>
			<p class="exp-company"><a href="https://www.linkedin.com/company/appnexus/" target="_blank">AppNexus, Inc.</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2012 – 2014</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience" style="margin-bottom: 40px; border-bottom: none;">
		<div class="Grid-cell u-md-size1of2">
			<p class="exp-role u-padNone u-spaceNone">Product Designer</p>
			<p class="exp-company"><a href="https://techcrunch.com/2012/08/11/in-bittersweet-deal-digital-ad-company-appnexus-acqui-hires-fanquisition/" target="_blank">Fantuition</a></p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-years">2012</p>
		</div>
	</div>
</section>