<div class="Container">
	<p><strong>Experience</strong></p>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<img style="float:left;" src="{{ works.glyph }}" alt="{{works.title }}"><p>Senior Product Designer, Design System</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">PrizePicks</p>
			<p class="exp-years">2023 – Present</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<img style="float:left;" src="{{ works.glyph }}" alt="{{works.title }}"><p>Senior Product Designer, Design System</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">Stack Overflow</p>
			<p class="exp-years">2022 – 2023</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p>Senior Product Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">Luma Health</p>
			<p class="exp-years">2021 – 2022</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p>Senior Product Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">moovel</p>
			<p class="exp-years">2019 – 2020</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p>Senior Product Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">Cloudability</p>
			<p class="exp-years">2018 – 2019</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p>Product Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">TeamSnap</p>
			<p class="exp-years">2014 – 2017</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience">
		<div class="Grid-cell u-md-size1of2">
			<p>UX / Visual Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">AppNexus, Inc.</p>
			<p class="exp-years">2012 – 2014</p>
		</div>
	</div>
	<div class="Grid Grid--alignMiddle experience" style="margin-bottom: 40px; border-bottom: none;">
		<div class="Grid-cell u-md-size1of2">
			<p>Product Designer</p>
		</div>
		<div class="Grid-cell u-md-size1of2 u-md-textRight">
			<p class="exp-company">Fantuition</p>
			<p class="exp-years">2012</p>
		</div>
	</div>
</div>