<div class="Masthead-home {{ custpad }}">
  <div class="Container">
    <div class="Grid-cell {{ headerDetails }}">
      <div class="Grid Grid--alignMiddle" style="width:848px;">
        <div class="Grid-cell u-textcenter u-spaceRightLg" style="flex-basis: auto;">
            <img class="Header-ginger" src="/assets/img/me-new.jpg">
        </div>
        <div class="Grid-cell u-md-size9of12 u-textLeft">
            <p class="Header-tagline u-spaceBottomNone">Welcome! I'm Shane.</p>
            <h1 class="Header-title">Product Designer with 11+ years experience.</h1>
            <p>I'm a systems thinker who delivers data-informed, outcome-focused solutions.</p>
        </div>
      </div>
      <div class="Grid-cell u-spaceTopXXXLg u-md-size-full">
        <div class="Grid">
          <div class="Grid-cell u-textLeft">
              <p class="u-spaceBottomSm"><strong>About</strong></p>
              <p>With a career that spans various industries and a history of guiding successful product launches, I am a seasoned product designer who knows how to lead teams to success. My ability to collaborate effectively with stakeholders has consistently yielded products that not only meet user needs but also achieve business objectives.</p>
          </div>
        </div>
    </div>
  </div>
</div>