{% if page.url == "/" %}
  {% assign screen_shots = 'background:#fcfcfc;' %}
{% elsif page.title == 'DanceLinked' %}
  {% assign screen_shots = '/assets/img/work/dancelinked/dancelinked_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/dancelinked/logo-dancelinked.svg' %}
{% elsif page.title == 'Cloudability - Onboarding' %}
  {% assign screen_shots = '/assets/img/work/cloudability/cloudability_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/cloudability/logo-cloudability.svg' %}
{% elsif page.title == 'Cloudability' %}
  {% assign screen_shots = '/assets/img/work/cloudability/screens_devices_cost_sharing.png' %}
  {% assign logo_path = '/assets/img/work/cloudability/logo-cloudability.svg' %}
{% elsif page.title == 'TeamSnap – Redesign' %}
  {% assign screen_shots = '/assets/img/work/teamsnap/teamsnap_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/teamsnap/logo-teamsnap.svg' %}
{% elsif page.title == 'TeamSnap – Onboarding' %}
  {% assign screen_shots = '/assets/img/work/teamsnap/teamsnap-masthead-onboarding.png' %}
  {% assign logo_path = '/assets/img/work/teamsnap/logo-teamsnap.svg' %}
{% elsif page.title == 'AppNexus – ANM' %}
  {% assign screen_shots = '/assets/img/work/anm/anm_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/anm/logo-appnexus.svg' %}
{% elsif page.title == 'moovel' %}
  {% assign screen_shots = '/assets/img/work/moovel/moovel_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/moovel/logo-moovel.svg' %}
{% elsif page.title == 'Membio' %}
  {% assign screen_shots = '/assets/img/work/membio/membio_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/membio/logo-membio.svg' %}
{% elsif page.title == 'Fantuition' %}
  {% assign screen_shots = '/assets/img/work/fantuition/fantuition_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/fantuition/logo-fantuition.svg' %}
{% elsif page.title == 'Luma Health – Telehealth' %}
  {% assign screen_shots = '/assets/img/work/lumahealth/luma_screens_devices_telehealth.png' %}
  {% assign logo_path = '/assets/img/work/lumahealth/luma.svg' %}
{% elsif page.title == 'Luma Health - Appointments' %}
  {% assign screen_shots = '/assets/img/work/lumahealth/luma_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/lumahealth/luma.svg' %}
  {% assign highlight_color = '#F8F9FF;' %}
{% elsif page.title == 'Stack Overflow' %}
  {% assign screen_shots = '/assets/img/work/stackoverflow/stackoverflow-screens-devices.png' %}
  {% assign logo_path = '/assets/img/work/stackoverflow/stackoverflow-logo.svg' %}
  {% elsif page.title == 'PrizePicks' %}
  {% assign screen_shots = '/assets/img/work/prizepicks/prizepicks-screens-devices.png' %}
  {% assign logo_path = '/assets/img/work/prizepicks/prizepicks-logo.svg' %}
{% endif %}

<div class="Masthead-work">
  <div class="Container">
    <div class="Grid Grid--alignMiddle">
      <div class="Grid-cell u-size-full u-sm-size1of3 u-flex u-flexCol u-flexNoWrap u-textLeft">
        {% if logo_path  %}
          <div class="Grid-cell u-md-size1of3">
            <img src="{{ logo_path }}">
          </div>
        {% else %}
          <h2 class="Header-title--work">{{works.title}}</h2>
        {% endif %}
        <h3 class="Header-title--work">
          {{ page.subtitle }}
        </h3>
            <p class="Header-subtitle">
              {{ page.date | date: "%Y" }}
            </p>
            {% include pagination.html %}
        </p>
      </div>
      <div class="Grid-cell u-size-full u-sm-size2of3 u-flex u-flexCol u-flexNoWrap">
        <img src="{{ screen_shots }}" />
      </div>
    </div>
  </div>
</div>