<div class="Masthead-home {{ custpad }}">
  <div class="Container">
    <div class="Grid-cell {{ headerDetails }}">
      <div class="Grid Grid--alignMiddle" style="width:848px;">
        <div class="Grid-cell u-textcenter u-spaceRightLg" style="flex-basis: auto;">
            <img class="Header-ginger" src="/assets/img/me-new.jpg">
        </div>
        <div class="Grid-cell u-md-size9of12 u-textLeft">
            <p>Product Designer, with 15+ years experience. I'm a technical (i.e. can code) systems thinker who can successfully make teams more efficient and products more impactful.</p>
            <p>Currently, Design System Manager at <a href="https://prizepicks.com" target="_blank">PrizePicks</a>. </p>
        </div>
      </div>
  </div>
</div>
