<div class="Masthead-home {{ custpad }}">
  <div class="Container">
    <div class="Grid-cell {{ headerDetails }}">
      <div class="Grid Grid--alignMiddle" style="width:848px;">
        <div class="Grid-cell u-textcenter u-spaceRightLg" style="flex-basis: auto;">
            <img class="Header-ginger" src="/assets/img/me-new.jpg">
        </div>
        <div class="Grid-cell u-md-size9of12 u-textLeft">
            <p>Lead Product Designer, with over a decade of experience. I'm a systems thinker who can successfully make teams more efficient and products more consistent. </p>
            <p>Currently, I lead the Design System efforts at <a href="https://prizepicks.com" target="_blank">PrizePicks</a>. </p>
        </div>
      </div>
  </div>
</div>