.box {
	background:#fff;
	border:1px solid $divider;
	border-radius: $border-radius;
	padding:24px;
	margin:32px;
}
.box--kpi {
	box-shadow: $box-shadow;
	min-height:260px;
	position:relative;
}
.kpi-success-icon {
	background-image:url(/assets/img/circle-check.svg);
	background-position: center;
    background-size: contain;
	height:24px;
	position: absolute;
	top:32px;
	right:32px;
	width:24px;
}
.box--callout {
	border-radius: 16px;
	padding:32px;
}