header {
	padding:0;
	position: relative;
	text-align:center;

	a {
		color:$primary;
		text-decoration: none;
	}
}
.Header__bar {
	background: #fff;
	padding: 0;
}
.Header-logo {
	float:left;
	font-size: 18px;
}
.Header-image {
	flex-basis: auto;
}
.Header-ginger {
	border-radius: 16px;
	height:112px;
	width: 112px;
}
.Header-tagline, .Header-subtitle {
	color: $text--light;
	margin: 0 0 $su-default 0;
}
.Header-title {
	color:          $text--dark;
	font-size:20px;
	font-weight:500;
	letter-spacing: 0;
	line-height:       $small-lineHeight;
	margin:0;

}
.Header-title--work {
    color:          $text--dark;
	font-size:20px;
	font-weight:500;
	letter-spacing: 0;
	line-height:       $small-lineHeight;
	margin:$su-small 0;
}
main {
	background: #fff;
	position: relative;
}
