ul, ol {
  margin:$su-xlarge;
}
ul li::marker {
	color:$primary;
}
.list--bordered {
	margin: $su-xlarge $su-large;

	li {
		border-bottom: 1px solid $divider;
		list-style-position: inside;
		padding: $su-default 0;

		&:first-child {
			border-top:1px solid $divider;
		}
	}
}
.list--inline {
	li {
		display:inline-block;
		margin:0 $su-default;
	}
}
.list--callout {
	background: #fff;
	border-bottom: 1px solid $divider;
	border-top:1px solid $divider;
	margin:$su-large 0;
	padding: $su-large;
}
.list--callout {
	list-style-position: inside;
}
.list--callout li{
	  color: $text--dark;
    margin-bottom: $su-large;
    padding-left: $su-default;

    &:last-child {
    	margin-bottom:0;
    }
}
