ul, ol {
  margin:$su-xlarge;
}
ul li::marker {
	color:$primary;
}
.list--bordered {
	margin: $su-xlarge $su-large;

	li {
		border-bottom: 1px solid $divider;
		list-style-position: inside;
		padding: $su-default 0;

		&:first-child {
			border-top:1px solid $divider;
		}
	}
}
.list--inline {
	li {
		display:inline-block;
		margin:0 $su-default;
	}
}
.list--callout li{
	  border-left: 4px solid #06A68E;
    list-style: none;
    margin-bottom: $su-large;
    padding-left: $su-default;
}