.Masthead-work, .Masthead-home{
	background-size:50%;
	background-position:bottom right;
	background-repeat:no-repeat;
	padding: $su-xxlarge 0;
	text-align: center;
}
@media (min-width: $breakpoint-sm) { 
  .Masthead-work{
  	border-bottom: 1px solid $divider;
    padding: 64px 0 0 0;
  }
  .Masthead-home {
  	padding:64px 0;
  }
}