.Work-short {
	border: 1px solid $divider;
	border-radius: 16px;
	margin: 0 0 40px 0;
	padding: 40px;
	position:relative;
	min-height:310px;
}
.Work-short-title {
	flex-basis: auto !important;
	text-align: center;
  width: 100% !important;
}
.Work-short-date {
	flex-basis: auto !important;
	text-align: center;
  width: 100% !important;
}
@media (min-width: $breakpoint-sm) { 
  .Work-short-title, .Work-short-date {
    float:left !important;
    width: auto !important;
  }
}
.Work-section {
	padding:    $su-xxlarge 0;
}
.Work-section-arrow {
		&:after {
		background: transparent url('../img/arrow_down.svg') no-repeat center center;
		content:"";
		display: block;
		height:18px;
		text-align: center;
		width:100%;
	}
}
@media (min-width: $breakpoint-sm) { 
  .Work-section {
  	margin: 0;
    padding:    $su-default 0 $su-xsmall 0;
  }
}
.Work-screen {
	position: absolute;
  bottom: 1px;
  right: 0;
  height: 295px;
  width: 440px;

}
.Work-screenshot-img {
	border:1px solid $divider;
	border-radius: $border-radius-large;
}
@media (min-width: $breakpoint-sm) { 
  .Work-screenshot-img{
    max-width: 90%;
  }
}
.Work-full {
	max-width:10em;
}
.experience {
	border-bottom:1px solid $divider;
	color: $text--dark;
	margin:0;
	padding: $su-large 0;
}
.exp-years {
	color: $text;
	font-size:14px;
}
.exp-company {
	font-weight:500;
	margin-bottom:0;
}