---
layout: casestudies
title: Case Studies
tagline: WELCOME! MY NAME IS SHANE &
---
{% assign sorted = site.works | sort: 'date' | reverse %}
{% for works in sorted %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
{% if thecycle == 'even' %}
	{% assign flexreverse = 'u-flexRowReverse' %}
	{% assign imagealign = 'u-textLeft' %}
{% endif %}
{% if thecycle == 'odd' %}
	{% assign flexreverse = '' %}
	{% assign imagealign = 'u-textRight' %}
{% endif %}
	<div class="Work-short">
		<div class="Grid Grid--alignMiddle">
			<div class="Grid-cell u-md-size5of12">
				<p class="small-text">{{works.years}} | {{works.position}}</p>
				<div class="Grid Grid--alignMiddle">
					<div class="Grid-cell u-md-size1of12">
						<img class="u-md-padRightXs" src="{{ works.glyph }}" alt="{{works.title }}">
					</div>

					<div class="Grid-cell u-md-size11of12">
						<h2 class="u-spaceNone"><strong>{{works.title}}</strong></h2>
					</div>
				</div>
				
		
					<p>{{works.excerpt1}}</p>
                        {% if works.title contains 'Membio' %}
                            <a href="{{works.url}}"  class="Button Disabled u-spaceTopXXLg ">View Preview</a>
                            <p style="font-size: 80%; margin-top: 8px;">Case Study coming soon</p>
                        {% else %}
                            <a href="{{works.url}}" class="Button u-spaceTopXXLg ">View Case Study</a>
                        {% endif %}
			</div>
			<div class="Grid-cell Work-screen">
				<img src="{{ works.image_path }}" alt="{{works.title }}">
			</div>
		</div>
	</div>
{% endfor %}
{{works.url }}
{% include experience.html %}